<app-espacios-reservados></app-espacios-reservados>

<div class="container">
	<h2>Ejemplo Funcionalidad Presentar Estado Escenarios</h2>

	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Cancha del Diamante</a>
				</h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse in">
				<div class="panel-body" *ngFor="let d of data">
					<table class="table table-striped" >
							<tr>
								<th>Usuario</th>
								<th>Fecha</th>
								<th>Hora Inicio</th>
								<th>Hora Fin</th>
							</tr>
							<tr>
								<td>{{d.usuario}}</td>
								<td>{{d.fecha}}/td>
								<td>{{d.horaInicio}}</td>
								<td>{{d.horaFin}}</td>
							</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>