<div class="container">
  <h2>Ejemplo Funcionalidad Presentar Estado Escenarios</h2>
  
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Cancha del Diamante</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
        	<table class="table table-striped">
            	<tr>
					<th>Usuario</th>
					<th>Fecha</th>
					<th>Hora Inicio</th>
					<th>Hora Fin</th>
				</tr>
				<tr>
					<td>Pepe</td>
					<td>12/05/2018</td>
					<td>10:00 am</td>
					<td>12:00 m</td>
				</tr>
				<tr>
					<td>Frodo</td>
					<td>12/06/2018</td>
					<td>1:00 pm</td>
					<td >3:00 pm</td>
				</tr>
            </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Salon Tenis de Mesa</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body"><table class="table table-striped">
            	<tr>
					<th>Usuario</th>
					<th>Fecha</th>
					<th>Hora Inicio</th>
					<th>Hora Fin</th>
				</tr>
				<tr>
					<td>Pepe</td>
					<td>12/05/2018</td>
					<td>10:00 am</td>
					<td>12:00 m</td>
				</tr>
				<tr>
					<td>Frodo</td>
					<td>12/06/2018</td>
					<td>1:00 pm</td>
					<td >3:00 pm</td>
				</tr>
            </table></div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Cancha Basket</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body"><table class="table table-striped">
            	<tr>
					<th>Usuario</th>
					<th>Fecha</th>
					<th>Hora Inicio</th>
					<th>Hora Fin</th>
				</tr>
				<tr>
					<td>Pepe</td>
					<td>12/05/2018</td>
					<td>10:00 am</td>
					<td>12:00 m</td>
				</tr>
				<tr>
					<td>Frodo</td>
					<td>12/06/2018</td>
					<td>1:00 pm</td>
					<td >3:00 pm</td>
				</tr>
            </table></div>
      </div>
    </div>
  </div> 
</div>
    