select {
    
    width: 300px;
    height: 500px;
    left: 30px;
    
}
label{
    
    padding: 15px 32px;
    font-size: 16px;
}

.form-control{
    position: relative;
    top:-20px;
    
}
.allbody1{
    position: relative;
    top:-20px;
}

