@import url(http://fonts.googleapis.com/css?family=Open+Sans);
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
	margin: 2em;
  background-image: url(fondo.jpg); 
}
body, input[text], button {
  background-image: url(fondo.jpg); 
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.img-res {
	display: block;
    width: 225px;
    height: auto;
}

@media screen and (min-width: 480px) {
    .img-res {
    	display: block;
        width: 450px;
    	  height: auto;
    }
}

/*ensayo*/


#header {
	margin:auto;
	width:500px;
	font-family:Arial, Helvetica, sans-serif;
	border-radius: 10px
}

ul, ol {
	list-style:none;
}

.nav > li {
	float:left;
}
#Usuario{
	color: white;
	margin-right: 8%;
}
.nav li a {
	background-image: linear-gradient(#020d16, #3b94e2);
	color:white;
	text-decoration:none;
	padding:10px 12px;
	width: 100px;
	display:block;
	border-radius: 25px;
	margin:3px;
	
}
#cerrar{
	background: #3b94e2;
}
.nav li a:hover {
	background-image:linear-gradient(#2e0101, #630202);
}

.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
	padding:0px;
}

.nav li:hover > ul {
	display:block;
	opacity: 0.8;
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	right:-140px;
	top:0px;
}