<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>AngularReservasCdu</title>
  <base href="/">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="stylesheet" href="assets/forms.css">
  <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="../assets/open-iconic-master/font/css/open-iconic.css" rel="stylesheet">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  
</head>

<body>
   <div id="contenedor">
     <section id="contenido">
            <h2>Elementos Deportivos</h2>
            <div class="container">
                <table id="tblEspaciosdeportivos" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Cantidad</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let espaciodeportivo of elementos">
                            <td>{{espaciodeportivo.tipo}}</td>
                            <td>{{espaciodeportivo.descripcion}}</td>
                            <td>{{espaciodeportivo.cantidad}}</td>
                            <td>
                                <a href="" (click)="verEspacioDeportivo(espaciodeportivo, 'Detalle')" data-toggle="modal" data-target="#modalEspacioDeportivo"><i class="fa fa-eye"></i></a> &nbsp; 
                                <a href="" (click)="verEspacioDeportivo(espaciodeportivo, 'Actualizar')" data-toggle="modal" data-target="#modalEspacioDeportivo"><i class="fa fa-edit"></i></a> &nbsp; 
                                <a href="" (click)="verEspacioDeportivo(espaciodeportivo, 'Eliminar')" data-toggle="modal" data-target="#modalEspacioDeportivo"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                </table>
            </div>
            	
     </section>

     <aside class="visible-lg"> 
        <hr>
        <button type="button" (click)="setNuevo()" data-toggle="modal" data-target="#modalElementoDeportivo" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo</button>
        <hr>

     </aside>


   </div>
 
   <!--VENTANA MODAL PARA AGREGAR UN NUEVO ELEMENTO-->
   
<div class="modal fade" id="modalElementoDeportivo" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Elemento Deportivo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <form id="frmEspaciodeportivo" (ngSubmit)="enviarFormulario()" class="form-label-left form-horizontal" #espacioDeportivoForm="ngForm">
                    <fieldset>
                        <legend>Informacion del Elemento Deportivo</legend>
                        <hr>
                        <div *ngIf="accion == 'Registrar' || accion == 'Actualizar'" class="form-group row">
                            <label class="col-sm-2 col-form-label" for="tipo">Tipo De Elemento</label>
                            <div class="col-sm-10">
                                <select id="tipo" name="tipo" [(ngModel)]="deporteSelected" class="form-control" [required]="required" [disabled]="!required">
                                    <option *ngFor="let opcion of deportesSelect" [ngValue]="opcion">{{opcion.nombre}}</option>
                                </select>
                                
                            </div> 
                        </div>
                        <div *ngIf="accion == 'Registrar' || accion == 'Actualizar'" class="form-group row">
                            <label class="col-sm-2 col-form-label" for="deporte">Deporte</label>
                            <div class="col-sm-10">
                                <select id="deporte" name="deporte" [(ngModel)]="deporteSelected" class="form-control" [required]="required" [disabled]="!required">
                                    <option *ngFor="let opcion of deportesSelect" [ngValue]="opcion">{{opcion.nombre}}</option>
                                </select>
                                
                            </div> 
                        </div>
                        
                        <div class="form-group row">
                        
                            <label class="col-sm-2 col-form-label" for="descripcion">Descripcion</label>
      
                        <div class="col-sm-10">
                            <textarea id="descripcion" name="descripcion" [(ngModel)]="elementoSelected.descripcion" class="form-control"  #descripcion="ngModel">{{elementoSelected.descripcion}}</textarea>
                        </div>
                        </div>
                        <!--INFO ESPECIFICA DE UN ELEMENTO NORMAL-->
                        <div *ngIf="ngValue==Futbol">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="marca">Marca</label>
                                <div class="col-sm-10">
                                    <input type="text" id="marca" name="marca" [(ngModel)]="elementoSelected.marca" maxlength="30" class="form-control" [required]="required" [readonly]="!required" #marca="ngModel">
                                    <div *ngIf="marca.invalid && (marca.dirty || marca.touched)" class="alert alert-danger">
                                        <div *ngIf="marca.errors.required">La marca es requerida.</div>
                                        <div *ngIf="marca.errors.maxlength">La marca supera la longitud maxima de caracteres (maximo 30 caracteres).</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="referencia">Referencia</label>
                                <div class="col-sm-10">
                                    <input type="text" id="referencia" name="referencia" [(ngModel)]="elementoSelected.referencia" maxlength="30" class="form-control" [required]="required" [readonly]="!required" #referencia="ngModel">
                                    <div *ngIf="referencia.invalid && (referencia.dirty || referencia.touched)" class="alert alert-danger">
                                        <div *ngIf="referencia.errors.required">La referencia es requerido.</div>
                                        <div *ngIf="referencia.errors.maxlength">La referencia supera la longitud maxima de caracteres (maximo 30 caracteres).</div>
                                    </div>
                                </div>
                            </div>          
                        </div>
                      <!--INFO ESPECIFICA DE UN ELEMENTO MEDICINAL-->
                      <div *ngIf="ngValue==Medicinal">
                          <div class="form-group row">
                              <label class="col-sm-2 col-form-label" for="marca">Marca</label>
                              <div class="col-sm-10">
                                  <input type="text" id="marca" name="marca" [(ngModel)]="elementoSelected.marca" maxlength="30" class="form-control" [required]="required" [readonly]="!required" #marca="ngModel">
                                  <div *ngIf="marca.invalid && (marca.dirty || marca.touched)" class="alert alert-danger">
                                      <div *ngIf="marca.errors.required">La marca es requerido.</div>
                                      <div *ngIf="marca.errors.maxlength">La marca supera la longitud maxima de caracteres (maximo 30 caracteres).</div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-2 col-form-label" for="referencia">Referencia</label>
                              <div class="col-sm-10">
                                  <input type="text" id="referencia" name="referencia" [(ngModel)]="elementoSelected.referencia" maxlength="3" class="form-control" [required]="required" [readonly]="!required" #referencia="ngModel">
                                  <div *ngIf="referencia.invalid && (referencia.dirty || referencia.touched)" class="alert alert-danger">
                                      <div *ngIf="referencia.errors.required">La referencia es requerido.</div>
                                      <div *ngIf="referencia.errors.maxlength">La referencia supera la longitud maxima de caracteres (maximo 30 caracteres).</div>
                                  </div>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-2 col-form-label" for="peso">Peso</label>
                              <div class="col-sm-10">
                                  <input type="number" id="peso" name="peso" min="1" [(ngModel)]="elementoSelected.peso" maxlength="3" class="form-control" [required]="required" [readonly]="!required" #peso="ngModel">
                                  <div *ngIf="peso.invalid && (peso.dirty || peso.touched)" class="alert alert-danger">
                                      <div *ngIf="peso.errors.required">La peso es requerido.</div>
                                      <div *ngIf="peso.errors.min">La peso debe ser mayo a 1.</div>
                                      <div *ngIf="peso.errors.maxlength">La peso supera la longitud maxima de caracteres (maximo 3 caracteres).</div>
                                  </div>
                              </div>
                          </div>
                        </div>
                      <!--INFO ESPECIFICA DE UN ELEMENTO UNIFORME-->
                      <div *ngIf="ngValue==Uniforme">
                          <div class="form-group row">
                              <label class="col-sm-2 col-form-label" for="primario">Color Primario</label>
                              <div class="col-sm-10">
                                  <input type="color" id="primario" name="primario" [(ngModel)]="elementoSelected.primario" value="#ff0000" class="form-control" [required]="required" [readonly]="!required" #primario="ngModel">
                                  <div *ngIf="primario.invalid && (primario.dirty || primario.touched)" class="alert alert-danger">
                                      <div *ngIf="primario.errors.required">El color primario es requerido.</div>
                                      
                                  </div>
                              </div>
                              
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-2 col-form-label" for="secundario">Color Secundario</label>
                              <div class="col-sm-10">
                                  <input type="color" id="secundario" name="secundario" [(ngModel)]="elementoSelected.secundario" value="#ff0000" class="form-control" [required]="required" [readonly]="!required" #secundario="ngModel">
                                  <div *ngIf="secundario.invalid && (secundario.dirty || secundario.touched)" class="alert alert-danger">
                                      <div *ngIf="secundario.errors.required">El color secundario es requerido.</div>
                                      
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!--CAMPO GENERAL PARA TODO TIPO-->
                      <div class="form-group row">
                          <label class="col-sm-2 col-form-label" for="cantidad">Cantidad</label>
                          <div class="col-sm-10">
                              <input type="number" id="cantidad" name="cantidad" min="1" [(ngModel)]="elementoSelected.cantidad" maxlength="3" class="form-control" [required]="required" [readonly]="!required" #cantidad="ngModel">
                              <div *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)" class="alert alert-danger">
                                  <div *ngIf="cantidad.errors.required">La cantidad es requerido.</div>
                                  <div *ngIf="cantidad.errors.min">La cantidad debe ser mayo a 1.</div>
                                  <div *ngIf="cantidad.errors.maxlength">La cantidad supera la longitud maxima de caracteres (maximo 3 caracteres).</div>
                              </div>
                          </div>
                      </div>
                       
                    </fieldset>
                    
                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-10">
                            <button type="button" name="btnCancelar" class="btn btn-danger" data-dismiss="modal" value="Cerrar"><i class="fa fa-times"></i> Cerrar</button>
                            <button *ngIf="accion != 'Detalle'" type="submit" name="btnEnviar"  class="btn btn-success" [disabled]="!espacioDeportivoForm.form.valid"><i class="{{iconBtnSubmit}}"></i> {{accion}}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <b>UNIVERSIDAD DEL CAUCA &copy; Copyright 2018</b>
            </div>
        </div>
    </div>
</div>


</body>




</html>
